@model IEnumerable<MVCMontadoraPP.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contatodois_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CEP_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rua_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contatodois_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CEP_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_Cliente)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
